/* destyle.css と併用を推奨 */

html {
  /* font-size: 62.5%;
  line-height: 1; */
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}

body {
  /* font-size: 1.4rem; */
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
  line-height: 1.333;
}

h3 {
  font-size: 24px;
}

h4,
h5,
h6 {
  font-size: 16px;
}

input {
  border: solid 1px #333;
}